<h1 class="p-4 mb-3 text-white bg-primary d-flex justify-content-center">Mis pasatiempos</h1>

<div class="container">
    <div class="row">
        <div class="col-md">
            <a href="/pelis">
                <div class="card">
                    <div class="card-body d-flex justify-content-center">
                        <i class="bi-film" style="font-size: 6rem; color: primary;"></i>
                    </div>
                    <h3 class="card-title d-flex justify-content-center text-primary">Pelis</h3>
                </div>
            </a>
        </div>
        <div class="col-md">
            <a href="/libros">
                <div class="card">
                    <div class="card-body d-flex justify-content-center">
                        <i class="bi bi-book" style="font-size: 6rem; color: primary;"></i>
                    </div>
                    <h3 class="card-title d-flex justify-content-center text-primary">Libros</h3>
                </div>
            </a>
        </div>
    </div>
</div>